html{
	height:0;
}
*{
	margin:0;
	padding:0;
}
.navbar{
	background-color : #025383;
	color: white;
}
a{
	text-decoration:none;
}
.navbar-brand{
	justify-content:flex-start;
}
.navbar>ul{
	color: white;
	background-color:#025383;
}
.navbar>ul>li{
	display:inline;
}
.navbar>ul>li>a{
	color:white;
	font-size:20px;
}
.navbar>a{
	font-size: 24px;
	font-weight: bold;
	color:#ffffff;
}
.about>h2{
	color:#025383;
}
.footer{
	bottom:0;
}
.card{
	margin-top:20px;
	padding:10px;
}
.card-text{
	float:left;
	margin-right:10%;
}
.hideit{
	display:none;
}
.showit{
	display:block;
}